 #mySidenav {
   background-color: #fff !important;
}
 
 .sidenav .navbar-nav li a {
    background-color: transparent !important;
}


.sidenav .navbar-nav li a:hover{
    background-color: #5d286f !important;
	color: #fff !important;
}


 .sidenav .navbar-nav li.active a,  .sidenav .navbar-nav li.active a:hover, .sidenav .navbar-nav li.active a:focus {
    color: #fff; 
    font-weight: 700;
   background-color: #5d286f !important;
     padding: 8px 10px;
}
 

 
 
 
.sidenav .navbar-nav li a:hover, .sidenav .navbar-nav li a:focus {
    color: #fff;
    background-color: #5d286f;
}

 .sidenav .navbar-nav li {
    border: 1px solid #eee;
  
}
  
 .sidenav .navbar-nav li a{
    padding: 8px 0px;
}  
   
 #mCSB_2_container li a{
 padding-left:10px;
 
 }
  
 #mySidenav  footer .menu-btn li {
    display: inline-block;
    border: 1px solid #777;
    margin: 3px 2px;
}
 
 #mySidenav  footer .social-icon {
    border-bottom: 1px solid #777;
}

 