.main-header #side-menu a, #side-menu span {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header #side-menu a:hover {
    border: 2px solid #fff;
}

.main-header .searchbox input[type=search] {
            background: #fff;
}


.main-header .searchbox{
    position:relative;
    min-width:35px;
    width:0%;
   height: 35px;
    float:right;
    overflow:hidden;
	border-radius: 50%;
	    
    
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.main-header .searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:#dcddd8;
    width:100%;
    height: 35px;
    margin:0;
    padding:0px 55px 0px 20px;
    font-size:20px;
    color: #000;
}
.main-header .searchbox-input::-webkit-input-placeholder {
    color: #dcddd8;
}
.main-header .searchbox-input:-moz-placeholder {
    color: #dcddd8;
}
.main-header .searchbox-input::-moz-placeholder {
    color: #dcddd8;
}
.main-header .searchbox-input:-ms-input-placeholder {
    color: #dcddd8;
}

.main-header .searchbox-icon,
.main-header .searchbox-submit{
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    top: -2px;
    font-family: verdana;
    font-size: 22px;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    color: #340644;
    background: #fff;
}



.main-header .searchbox-open{
    width:100%;
	   border-radius: 12px;
	
}




.sidenav .navbar-nav li.active a, .sidenav .navbar-nav li.active a:hover, .sidenav .navbar-nav li.active a:focus {
    color: #777;
    font-weight: 700;
    background: transparent;
}

.sidenav .navbar-nav li a {
  color: #777;

}


.sidenav .navbar-nav li a:hover, .sidenav .navbar-nav li a:focus {
    background-color: transparent;
	color: #fff;
}


#mySidenav  footer .menu-btn li a{
    background-color: transparent;
    color: #777;
}

#mySidenav  footer .menu-btn li a:hover {
    background-color: transparent;
    color: #fff;
}

.sidenav .navbar-nav li a {
  background-color: transparent;
}

.sidenav .btn-div a {
    color: #777;
}

.sidenav .btn-div a:hover {
    background-color: transparent;
    color: #fff;

}

#mySidenav  footer h2 {
    color: #777;
}

#mySidenav  footer p {
    margin: 0;
    font-size: 14px;
    color: #777;
}


.sidenav .navbar-nav li a {
    padding: 5px 15px;
	font-size: 14px;
 
}

#mySidenav  footer .search-bar {
    margin: 10px 0px 16px 0px;
}


.sidenav .category-menu {
 height: 250px;

}