.sidebar-nav{
    top: 158px;

}

#sidebar-wrapper li a{
width:320px !important;

}



#side-menu a, #side-menu span {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#side-menu a:hover {
    border: 2px solid #fff;
}

.searchbox input[type=search] {
            background: #fff;
}


.searchbox{
    position:relative;
    min-width:35px;
    width:0%;
   height: 35px;
    float:right;
    overflow:hidden;
	    border-radius: 50%;
	    
    
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:#dcddd8;
    width:100%;
    height: 35px;
    margin:0;
    padding:0px 55px 0px 20px;
    font-size:20px;
    color: #000;
}
.searchbox-input::-webkit-input-placeholder {
    color: #dcddd8;
}
.searchbox-input:-moz-placeholder {
    color: #dcddd8;
}
.searchbox-input::-moz-placeholder {
    color: #dcddd8;
}
.searchbox-input:-ms-input-placeholder {
    color: #dcddd8;
}

.searchbox-icon,
.searchbox-submit{
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    top: -2px;
    font-family: verdana;
    font-size: 22px;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    color: #340644;
    background: #fff;
}



.searchbox-open{
    width:100%;
	  border-radius: 12px;
	
}

.mCustomScrollbar .mCS-3d-thick.mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger_bar {
    width: 8px;

}

#mySidenav{
    background-color: rgba(5, 20, 41, 0.96) !important;

}

.sidenav .navbar-nav li a {

    border-radius: 0px;

}


.sidenav .navbar-nav li.active a, .sidenav .navbar-nav li.active a:hover, .sidenav .navbar-nav li.active a:focus {
    color: #777;
    font-weight: 700;
    background: transparent;
}

.sidenav .navbar-nav li a {
  color: #777;

}


.sidenav .navbar-nav li a:hover, .sidenav .navbar-nav li a:focus {
    background-color: transparent;
	color: #fff;
}


footer .menu-btn li a{
    background-color: transparent;
    color: #777;
}

footer .menu-btn li a:hover {
    background-color: transparent;
    color: #fff;
}

.sidenav .navbar-nav li a {
  background-color: transparent;
}

.sidenav .btn-div a {
    color: #777;
}

.sidenav .btn-div a:hover {
    background-color: transparent;
    color: #fff;

}

footer h2 {
    color: #777;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #777;
}


.sidenav .navbar-nav li a {
    padding: 5px 15px;
	font-size: 14px;
 
}

footer .search-bar {
    margin: 10px 0px 16px 0px;
}


#mCSB_2_container{
height: 500px;
}

.sidenav .category-menu {
 height: 250px;

}
