.container-flow{
    height: 340px;
    overflow-x: hidden;
    overflow-y: auto;
	/*outline: 2px solid #eee;*
  /*  outline-offset: 5px;*/
}
.left-section-wrapper .text ,.right-section-wrapper .text{
    height: 600px;
}


#style-1::-webkit-scrollbar-track
{ background-color: transparent;
}

#style-1::-webkit-scrollbar
{
	width: 8px;
	
}

#style-1::-webkit-scrollbar-thumb
{
  background-color: #d4bedbf2;
  border-radius: 10px;
}





#style-1::-webkit-scrollbar-thumb
{
  visibility: hidden;
  overflow:hidden;
  transition: 0.2s;
}

.left-section-wrapper:hover #style-1::-webkit-scrollbar-thumb,.right-section-wrapper:hover #style-1::-webkit-scrollbar-thumb
{
  visibility: visible;
   overflow:hidden;
   transition:0.2s;
}


.left-section-wrapper,.right-section-wrapper{
overflow:hidden;
}



.mCustomScrollbar .mCS-3d-thick.mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger_bar {
    width: 8px;
    box-shadow: none;
    margin: 20px 2px;
    background-color: #d5c0db;
    border-radius: 0px;
}

.Article .left-section{
width: 200px !important;
	left:30px;

}
 
.left-section-wrapper{
		/*height: 493px; */
		height: 400px;
       outline: 2px solid #eee;
	width: 250px;
	left:30px;

}  

.right-section-wrapper{
	  /*	height: 493px; */
		height: 400px;
       outline: 2px solid #eee;
	   	width: 250px;
		float:right;
		right:30px;
		
}


.left-section-wrapper button {
    font-family: 'open_sanssemibold';
    font-size: 14px;
    text-transform: uppercase;
    height: 35px;
	    width: 250px;
 color: #777;
    background: #eee;
    border: none;
    border-radius: 0px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
	position: absolute;
    bottom: 0;
}
.left-section-wrapper h2,.right-section-wrapper h2{
text-align:center;
color: #777;
margin-bottom:0px !important;
padding: 10px 0px !important;
}

.right-section-wrapper button {
    font-family: 'open_sanssemibold';
    font-size: 14px;
    text-transform: uppercase;
    height: 35px;
	 width: 250px;
	color: #777;
    background: #eee;
    border: none;
    border-radius: 0px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
	position: absolute;
    bottom: 0;
}

.left-section-wrapper ul li{
	    padding: 0px 0px 0px 14px !important;
	
}

.right-section-wrapper h2{
text-align:center;
color: #777;

}

.left-section-wrapper a ,.right-section-wrapper a{
color: #777;
}
.left-section-wrapper a:hover ,.right-section-wrapper a:hover{
color: #000;
text-decoration:none;
}

.left-section-wrapper .bottom-absolute ,.right-section-wrapper .bottom-absolute{
	position: absolute;
    bottom: 0;
    width: 250px;
    border-top: 1px solid #ddd;
    overflow: hidden;
	background: #fff;
}


.left-section-wrapper button ,.right-section-wrapper button{
background:#fff;
padding: 0px 10px;
border-top: 1px solid #ddd;
text-transform: none;
}

.left-section-wrapper button:hover ,.right-section-wrapper button:hover{
color:#000;
}
