
/*
.mCustomScrollBox{ 
	margin-top:50px;
	}
	
.nav .open>a{
	background-color: #ec1b5a !important;
}
  
  .sidebar-nav {
    position: absolute;
    top: 0;
	margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li:first-child { 
    width: 100%;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
}

.sidebar-nav li:nth-child(1):before {
    background-color: #314190;   
}

.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
	display:none;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
   background-color: #3c343f;
    box-shadow: none;
}
 
 #mySidenav{
   background-color: #3c343f;
 }
 */ 
 
 /*left nevigation */ 
 
 .mCustomScrollbar .mCS-3d-thick.mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger_bar {
    width: 8px;
}

.mCustomScrollbar #mCSB_1_scrollbar_vertical {
	visibility: hidden;
}
#mCSB_2_dragger_vertical  .mCSB_dragger_bar{
	    border-radius: 10px;
}
#mySidenav{
    background-color: rgba(5, 20, 41, 0.96) !important;

}

.sidenav .navbar-nav li a {

    border-radius: 0px;

}


.sidenav .navbar-nav li.active a, .sidenav .navbar-nav li.active a:hover, .sidenav .navbar-nav li.active a:focus {
    color: #777;
    font-weight: 700;
    background: transparent;
}

.sidenav .navbar-nav li a {
  color: #777;

}


.sidenav .navbar-nav li a:hover, .sidenav .navbar-nav li a:focus {
    background-color: transparent;
	color: #fff;
}


footer .menu-btn li a{
    background-color: transparent;
    color: #777;
}

footer .menu-btn li a:hover {
    background-color: transparent;
    color: #fff;
}

.sidenav .navbar-nav li a {
  background-color: transparent;
}

.sidenav .btn-div a {
    color: #777;
}

.sidenav .btn-div a:hover {
    background-color: transparent;
    color: #fff;

}

footer h2 {
    color: #777;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #777;
}


.sidenav .navbar-nav li a {
    padding: 5px 15px;
	font-size: 14px;
 
}

footer .search-bar {
    margin: 10px 0px 16px 0px;
}


#mCSB_2_container{
height: 500px;
}

.sidenav .category-menu {
 height: 250px;

}

 
 
 
 .navbar-inverse {
    background-color: transparent !important;
    border: 0px !important;
}
 
 .main-header {
  border:none !important;
  background:#340644!important;
 }

.dropdown-menu > li > a {
  color: #fff !important;
}
 

 
#mCSB_1_scrollbar_vertical{
display:none;

} 

.main-header{

    height: 60px;
    display: flex;
    align-items: center;
	background: #340644;

}

.header-icon a{
	 width: 35px;
	 height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background-color:transparent;
	display: inline-block;
    text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;

}

.circle-background{
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
	display: inline-block;
    text-align: center;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 1px solid #340644;
}

.bookmark-icon .fa{
			font-size: 15px;
			color:#340644;
}



.header-icon a:hover{
 background-color: #0bb372;
 text-decoration: none;
}

.circle-background:hover{
text-decoration: none;
}


.main-header .row{
  display: flex;
    align-items: center;
}


.search-bar{
	width: 100%;
    float: right;
	
}

.side-menu{
background: #fff;

}
.search-btn{
    background-color: #340644!important;
    height: 32px!important;
    width: 30px;
    text-align: center;
    border: 1px solid #fff;

}

.btn-bar a ,.btn-bar a:hover{
    color: #fff !important;
}

.main-header .btn-bar a {
text-transform: none;!important;
    font-size: 14px;
}

.btn-bar .user-img{
    margin-right: 15px;


}



.sidenav .logo {
     padding-top: 20px;

}


.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent !important;
}



.text-right .btn-bar{
width: 100%;
    /*  display: flex; */
  /*  align-items: center;*/
    /*  justify-content: flex-end;*/


}

.btn-bar .user-img {
    max-width: 24px;
    margin-left: 2px;
    margin-top: 12px;
	margin-right: 0;

}

.fa-bars:hover:before ,.All-topic .fa-user:hover:before{
	color:#fff !important;
	
}

.navbar-fixed-top {
 top: 21px !important;
   
}
.banner-text {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.38)!important;
    height:75px !important;
	display: flex;
    align-items: center;
    justify-content: center;
}
 .like-icon .fa{
        font-size: 15px;
		color: #340644;
}

.client-testimonials .social-icon .fab ,.profile-body .fab {

    font-size: 15px;
    color: #340644;
}

 .fa-bookmark{
     font-size: 15px;
 
}
.client-testimonials .fa-heart:hover:before ,.client-testimonials .fa-bookmark:hover:before{
    color: #ca89e0 ;
}
 
.client-testimonials.social-icon {
	display: flex;
    align-items: center;
}



.client-testimonials .bookmark-icon a {
    display: inline-block;
    margin-right: 2px;
    background-color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
	padding:0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
	float:right;
	top:0 !important;
 }
 
 .client-testimonials .social-icon {
    border-top: 1px solid #ddd;
    padding: 10px 0px;
    display: flex;
    align-items: center;
}
 

.fab {
    font-size: 15px;
}
.fab:hover:before {
     color: #ca89e0;
}

.topscroll-btn .fas{
  font-size:25px;
  color:#340644;

}


.topscroll-btn a {
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    transition: all .2s !important;
	border: none;
}

.topscroll-btn .fas {
    font-size: 25px;
    color: #340644;
}
.topscroll-btn a:hover:before {
    color:#fff!important;
}


.side-menu{
   background: #340644;
}
.fa-bars{
  font-size:25px;
   color: #fff !important;
}

.logo img{
max-width: 60px;
    max-height: 27px;

}

.logo-center img{
    max-width: 88px;
}
.logo-center{
    float: right;

}
.search-bar .form-control {
 background-color: #fff;
 
}

.search-bar {
    width: 70%;
    float: right;
}

footer .search-bar {
    width: 100%;
    float: right;
}

.search-bar .search-btn {
    background-color: #593466;
    height: 26px;
}

.logo figure img {
    max-width: 100%;
    max-width: 108px;
}


.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-bottom: 0;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
  padding-bottom: 12px  !important;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
     border-radius: 25px 25px 25px 25px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 32px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;

}

.fa-search:before {
    content: "\f002";
    color: #ca89e0;
	font-size: 14px;
}

.flex-column{
    display: flex;
    justify-content: space-between;
	align-items:center;

}

.user-img figure {
    max-width: 56px;
}

.main-header .text-right {
   display: flex;
}

.fas{
	color:#fff;
	font-size:20px;

}

.far{
	color:#fff;
	font-size:20px;

}

.quartz .fas{
	color:#340644 !important;
	
	
}

.header-icon{
	width: 100% !important;
    display: flex !important;
    justify-content: space-around !important;
}

.main-section .meddle-section{
	
	width:100% !important; 
}

  /* index-page */

.bookmark .main-section .left-section ,.bookmark.main-section .right-section{
	/*width: 250px; */
	
	
}

 /* Article-page-table */
 
.Article .client-testimonials .social-icon {
    padding: 10px 5px;
  /*  background: #eee; */
}
 
.Article  .left-section .text ul li a  span{
    font-size: 13px;
}
 
.Article .text-box span:hover{
	color:#fff;
	opacity: 1;
}
 

.table-box .table thead tr th {
  background-color: #340644 !important;

}

.client-testimonials.Article-social a {
	background:transparent !important;
}

.client-testimonials .Article-social .fab {
    color: #340644;
}

.client-testimonials .Article-social .fa {
    font-size: 15px;
    color: #340644;
}

.client-testimonials .social-icon .fas {
    font-size: 15px; 
    color: #340644;
}

.fas:hover:before {
   /* color: #ca89e0;*/
}

.client-testimonials .Article-social {
	display:flex !important;
	align-items: center;
	}

.client-testimonials.Article-social .like-icon {
	display:flex !important;
	align-items: center !important;
	}
.client-testimonials .Article-social a {
	display:flex !important;
	align-items: center !important;
	}
.client-testimonials .Article-social .bookmark-icon {
	display:flex !important;
	align-items: center !important;
	}

	 /* bottom-to-top-button */
	


.Article-social .like-icon a {
  background-color: #340644 !important;
 
}
.Article-social 	a{
	    color: #fff !important;
	}

.Article-social .like-icon .fa ,.Article-social .bookmark-icon .fa{
font-size: 15px;
color: #fff; 
 vertical-align: middle;
}

.Article .left-section {
 /* width: 250px !important;*/
}

.Article-social a:hover {
    opacity: 1 !important;
   
}

.right-section .mCustomScrollBox{
	
	margin-top:0 !important;
}

/* search-result-section */

.topic-box .image-result{
	position:relative;
	
}

.topic-box .fab , .topic-box .fas {
    font-size: 15px;
    color: #340644;
}
.topic-box {
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.56);
   border:none !important;
}

.search-heading {
    padding-top: 25px !important;
	text-align:center !important;
}

.Search-result .search-heading h2 span {
    color: #340644 !important;
	 font-weight: 900 !important;
    letter-spacing: 6px !important;
    text-decoration: underline!important;
}

.topic-box button {
    min-width: 140px!important;
	height: 32px !important;
	border: 1px solid #340644 !important;
    border-radius: 26px !important;
	background: #340644 !important;
	color:#fff!important;
	
}
.topic-box button:hover {
    background-color: none !important;
}
.topic-box button .fas{
 margin-right:5px;
 color:#fff;
}
.search-heading .fas{
	font-size: 15px;
    color: #340644;
}

.search-heading span{
	position:relative !important;
	margin-left: 20px;
}

.search-heading span .fa-quote-left:before {
    content: "\f10d";
    top: 0px;
    position: absolute;
    left: -18px;
}
.search-heading span .fa-quote-right:before {
    content: "\f10e";
    position: absolute;
    top: 2px;
}

.search-bar .search-btn:hover {
 text-decoration: none;
}

.All-topic .search-heading{
	text-align:left !important;
}

.All-topic .search-bar{
	width: 48%;
}

.All-topic .fa-search:before {
   /* color: #fff;*/
}

.All-topic .search-bar .search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.All-topic .search-bar .search-btn:hover {
    text-decoration:none;
}

/* bookmark-page */

.bookmark .client-testimonials,.technology .client-testimonials {
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.56);
}

/* contact-page */
.contact-page .contact-form{
background-color: #340644; 
}
.contact-form h3{
  /*	color: #fff !important; */
}

.contact-page textarea {
    /*   height: 94px !important; */
}
.form-sbmit-button{
    color: #340644!important;
    font-weight: 900 !important;
    font-size: 16px !important;
    border-radius: 50px !important;
	background-color: #fff !important;
}	
	
}
.form-sbmit-button:focus {
        outline: none !important;
}
/*.contact-page .contact-form {
    background: url(../images/login-signup-background.png);
	position: relative;
}

.contact-form:before{
	
	position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    content: "";
	z-index:0;
}
*/

/* faq-page */
.faq-page .fa-search:before {
    color: #fff;
}

.faq-page .search-bar .search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header-search-form */

/*the container must be positioned relative:*/

.search-form span:after {
    font-family: FontAwesome;
    content: "\f002";
    font-size: 16px;
    position: absolute;
       right: 10px;
    top: 5px;
    pointer-events: none;
	color:##ca89e0;
	
}



.search-form .autocomplete {
    position: relative;
    display: inline-block;
	transition:all .2s;
}

.search-form #myInput:focus {
    outline: none !important;
}


.search-form .autocomplete {
 /*width: 200px !important;*/
  transition:all .2s;
}
#search-icon{
	width: 100%;
    position: absolute;
    top: 0px;
}
#search-icon span{
    position: absolute;
    right: 0;	
}



.search-form  input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 8px;
  font-size: 14px;
}

.search-form  input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

.search-form  input[type=submit] {
   background-color: #f1f1f1;
  color:  #f1f1f1;
  cursor: pointer;
    position: absolute!important; 
    top: 0 !important; 
    right: 0!important;
	    width: 40px;
    border-radius: 50% !important;
}

.search-form input:hover[type="submit"].autocomplete {
width: 200px !important;
 transition:all .2s;
}

.search-form{

	position:relative;
}


.search-form  #myInput{
position: relative !important; 
 border-radius: 25px 25px 25px 25px!important; 
}




.search-form  .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.search-form  .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.search-form .autocomplete-active {
  background-color: #340644 !important; 
  color: #ffffff; 
}

.search-form .autocomplete{
	outline:none !important;
	
}


.flex-search-box{
	display: flex;
    align-items: center;
    justify-content: flex-end;
	
	
}



/*About page:*/

.About .container{
	margin-bottom:30px;
	margin-top:30px;	
}


.About .banner-section{
	max-height:300px;
}
.About .banner-section .text-box {
	width:100%;
	left: 0;
}

.About .banner-section h1{
	text-align:center !important;
}

.About .right-section h5{
	color: #340644;
    font-size: 20px;
    font-weight: 700;
}

.main-section  p {
	
	font-size:14px !important;
}

.left-section ,.right-section{
	
	overflow:hidden;
}

 /*.bottom-to-top-button. */

.topscroll-btn a {
   
} 

.topscroll-btn fas {
    color:#fff !important;
}


/*pop-up-index page:*/

.modal-dialog {
    width: 100% !important;
}


.w-background {
    max-width: 100%; 
    margin: 50px;
}
	
.modal-wrapper .logo img{
	    margin-left: 0;
	
	
}	
	
.theme-btn{
	background: #340644;
    color: #fff;
	border: none;
}
.theme-btn:hover{
	background: #340644;
    color: #fff;
	border: none;
}
.theme-btn:focus{
	background: #340644;
    color: #fff;
	border: none;
	outline: none;
}
	
#myModal {
color: #1fa67b;
padding-left:0 !important;

}
.modal-dialog {
    width: 70%;
    margin: 30px auto;
}

.modal-container{
	max-width: 100%;
}

.main-header .flex-column  #side-menu{

width:100%;
display:flex;
justify-content:space-between;
}


/*RESPONSIVE CSS START*/

@media screen and (max-width: 767px) {
	#side-menu a {
    display: none !important;
	}

	.logo-center img {
    max-width: 63px;
	}
	
	.main-header .row {
   display: block;
}
.flex-search-box {
	display: block;
}

.main-header .margin-top-mobile{
	   margin-top: 30px; 
	
}

.main-header .searchbox{
	    top: -32px;
}

.logo-center {
   margin-right: 0;
}	

.main-header .flex-column #side-menu {
/*	margin-left: 30px;*/
}

.client-testimonials .social-icon {
    padding: 10px 0px 10px 0px !important;
}
	
}

@media screen and (max-width: 1000px) {
	.left-section-wrapper, .right-section-wrapper {
    display: none;

	}
	
.main-header .text-right .btn-bar {
       display: flex !important;
}
.main-header .text-right .btn-bar .user-img {
        top: -10px!important;
}

.main-header .text-right {
    top: 0 !important;
}

.main-header .searchbox-open {
    z-index: 99999;
}

}
@media only screen and (min-width: 1024px){
	
.main-header .flex-desktop{
		 display: flex !important;
		
	}
	
	
	.main-header .flex-desktop .order-change{
		        order: 2;
		
	}
}









