/*=== FONT START ===*/
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*=== FONT END ===*/

body{font-family: 'open_sansregular';}

/*HEADER CSS*/
.main-header {padding: 4px 0px; background-color: #eee9f0; border-bottom: 1px solid #593466; position: fixed; top: 0; width: 100%; z-index: 9999;}
.search-bar {position: relative; height: auto; text-align: right;margin-top: 3px; }
.search-bar .form-control{display: inline-block;max-width: 550px; height:32px; border: 1px solid #ddd; background-color: #fff; padding: 0px 10px;font-size: 14px;font-family: 'open_sansregular'; box-shadow: none;}
.search-bar .form-control::placeholder {color: #593466; }
.search-bar .search-btn {position: absolute; background-color: #593466; right: 0px; padding: 5px 20px;border-radius: 0px 4px 4px 0px;top:0px; }
.search-bar .search-btn:hover{background-color: #5d286f;}
.side-menu {display: inline-block; vertical-align: middle; margin-right: 30px;}
.main-header .logo {display: inline-block; vertical-align: middle; }
.logo figure img {max-width: 100%; }
.side-menu a{outline: none;}
.btn-bar {display: inline-block;vertical-align: middle;}
.btn-bar a {color: #333;font-size: 14px;text-transform: uppercase; }
.btn-bar a img{margin-right:4px;}
.btn-bar a:hover, .btn-bar a:focus{color:#593466;text-decoration: none;outline: none;}
.btn-signup {margin-left: 10px; position: relative;}
.btn-signup::before {position: absolute; content: " "; border: 1px solid #333; height: 12px; left: -9px; top: 0px; bottom: 0px; margin: auto; transform: rotate(15deg); }
.user-img {display: inline-block; margin-left: 15px; vertical-align: middle;}
.user-img figure {max-width: 35px; height: 35px; border-radius: 50%; cursor: pointer;}
.user-img figure img {max-width: 100%; border-radius: 50%;}

.main-header .text-right {text-align: right; margin-top: 1px; }
/*SIDENAV BAR CSS*/
#overlay {position: fixed; display: none; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.5); z-index: 9999; cursor: pointer; }
.sidenav .btn-div{font-size: 0px;margin:10px 0px;text-align: center;}
.sidenav .btn-div a {display: inline-block; text-align: center;width: 100px;font-size: 14px;outline: none; border: 1px solid #666; height: 35px; line-height: 31px; color: #555; }
.sidenav .btn-div a:hover{background-color: #fff;color:#555;text-decoration: none;}
.sidenav .btn-div a:last-child{margin-left: -1px;}
.sidenav {height: 100%; width: 0; position: fixed; top: 0; left: 0; background-color: #f7f7f7; overflow-x: hidden; padding: 0px 0px; z-index: 99999; transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s;}
.sidenav .closebtn {position: absolute; top: 0px; right: 10px; font-size: 30px; color: #333; outline: none; }
.sidenav .closebtn:hover{text-decoration: none;}
.sidenav .logo {text-align: center; padding-top: 20px; margin-bottom: 20px; }
.sidenav .navbar-default {background-color: transparent; border: none; }
.sidenav .navbar-collapse {padding: 0px; }
.sidenav .navbar-nav {float: none; padding: 0px; margin: 0px; }
.sidenav .navbar-nav li {float: none;margin-bottom: 1px; }
.sidenav .navbar-nav li.active a, .sidenav .navbar-nav li.active a:hover, .sidenav .navbar-nav li.active a:focus {background-color: #5d286f;color:#fff; }
.sidenav .navbar-nav li a {font-size: 16px; color: #fff;border-radius: 0px;padding: 10px 15px; background-color: #593466;outline: none;}
.sidenav .navbar-nav li a:hover, .sidenav .navbar-nav li a:focus{background-color:#5d286f;color:#fff;text-decoration: none;}
.sidenav .navbar-nav li a img {max-width: 16px;margin-right:5px; }
.sidenav .category-menu {list-style-type: circle; margin: 10px; padding: 0px; height: 200px; border: 1px solid #ddd; }
.sidenav .category-menu li a{display: block; }
.sidenav .category-menu li a{background-color: transparent;color: #593466;list-style-type: circle;}
.sidenav .category-menu li a:hover{background-color: transparent;color: #333;}
.sidenav.mCustomScrollbar .mCS-3d-thick.mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger_bar{background-color:#593466; }
.mCustomScrollbar .mCS-3d-thick.mCSB_scrollTools .mCSB_buttonUp {background-image: url("../images/scroll-bar-icon.png"); background-repeat: no-repeat; z-index: 999999; left: 0; background-position: center; top: 0; right: 0; }
.mCustomScrollbar .mCS-3d-thick.mCSB_scrollTools .mCSB_buttonDown {background-image: url("../images/scroll-bar-icon.png"); background-repeat: no-repeat; z-index: 999999; left: 0; background-position: center; right: 0; bottom: 0; transform: rotate(180deg); }
footer{text-align: center;padding: 0px 10px 25px 10px;}
footer .btn-bar{display: none;}
footer h2 {margin: 20px 0px 10px 0px; font-size: 26px; font-family: 'open_sanssemibold'; color:#5d286f;}
footer p {margin: 0; font-size: 14px; color: #333; }
footer ul {padding: 0;margin:0px; list-style-type: none; font-size: 0px;text-align: center; }
footer .social-icon {margin: 0px 0px 25px 0px; border-bottom: 1px solid #fff; padding-bottom: 20px; }
footer .social-icon li {display: inline-block; }
footer .social-icon ul a {background-color: #ddd; border-radius: 50%; height: 30px; width: 30px; text-align: center; display: block; line-height: 30px; margin: 0px 4px; }
footer .social-icon li:first-child a{background-color:#2d5f9a;}
footer .social-icon li:nth-child(2) a{background-color:#00c3f3;}
footer .social-icon li:nth-child(3) a{background-color:#c23082;}
footer .social-icon li:last-child a{background-color:#db4437;}
footer .social-icon li a:hover{opacity: 0.8;}
footer .search-bar {margin: 10px 0px 25px 0px; }
footer .menu-btn li {display: inline-block; } 
footer .menu-btn li a { font-family: 'open_sanssemibold';font-size: 14px; border: 1px solid #333; color: #333; display: block; padding: 3px 10px; margin: 3px 2px; transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s;}
footer .menu-btn li a:hover{background-color:#5d286f;color:#fff;text-decoration: none;transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s;}
/*MAIN-SECTION CSS*/
.main-section {margin-top:47px;font-size: 0px;padding: 30px 0px;/* background: url("../images/main-section.png") #fdfbfb; background-repeat: repeat-Y; */}
.left-section {display: inline-block; width: 16.5%;vertical-align: top;}
.meddle-section{display: inline-block;width: 54%;vertical-align: top;}
.right-section {display: inline-block; width: 27.5%; vertical-align: top; float: right;margin-bottom: 25px; }
/*LEFT SECTION CSS*/
.main-section h2 {position: relative; color: #593466; font-size: 15px; font-family: 'open_sansregular'; text-transform: capitalize; margin: 0px auto 8px;border-bottom: 1px solid #ddd; padding-bottom: 14px; }
.main-section .left-section h2 {margin: 0px 10px 8px 0px;}
.main-section ul {padding: 0px; margin: 0; list-style-type: none; }
.left-section ul li figure {display: inline-block; margin-right: 13px; height: 40px; width: 40px; border-radius: 50%; overflow: hidden; vertical-align: middle; }
.left-section ul li a span {display: inline-block; vertical-align: middle; }
.left-section ul li {margin: 10px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align: left; }
/*.left-section ul li a img {max-width: 100%;}*/
.left-section ul li a{color:#333;font-size: 14px;text-transform:uppercase;}
.left-section ul li a:hover, .left-section ul li a:focus {color:#800080;text-decoration: none;outline: none;}
.left-section button {font-family: 'open_sanssemibold';font-size: 14px; text-transform: uppercase;height: 35px; background-color: transparent; color: #cdc6c0; border: none; border-radius: 0px;transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; }
.left-section button:hover{background-color: transparent;color:#593466;transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s;}


/*MEDDLE SECTION CSS*/
.client-testimonials{background-color: #fff;margin-bottom: 30px;padding:15px; -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.12);
-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.12);
box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.12);}

.client-testimonials .testimonail-profile {position: relative; }
.client-testimonials .testimonail-profile a img {max-width: 60px; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
.client-testimonials .owl-carousel .owl-item figure img {max-width: 100%; }
.client-testimonials .owl-carousel .owl-item img{width:auto;}
.client-testimonials .owl-nav .owl-prev {background-image: url("../images/owl-left-arrow.png"); background-repeat: no-repeat; height: 35px; width: 35px; font-size: 0px; position: absolute; top: 0;top:25.50%;left:-15px; bottom: 0; background-size: 100%; }
.client-testimonials .owl-nav .owl-next {background-image: url("../images/owl-right-arrow.png"); background-repeat: no-repeat; height: 35px; width: 35px; font-size: 0px; position: absolute; top: 0;top:25.50%; bottom: 0; background-size: 100%;right:-15px; }
.client-testimonials .owl-nav .owl-prev:hover{opacity: 0.8;}
.client-testimonials .owl-nav .owl-next:hover{opacity: 0.8;}
.client-des { padding: 20px 0px 0px 0px; }
.client-des h4 {color: #999; font-size: 16px; text-align: center; margin: 0px 0px 10px 0px; position: relative; text-transform: capitalize; }
.client-des h4::before {position: absolute; content: " "; border: 1px solid #ddd; width: 150px; left: 0px; top: 50%; }
.client-des h4::after {position: absolute; content: " "; border: 1px solid #ddd; width: 150px; right: 0; top: 50%; }
.client-des p {text-align: justify; font-size: 16px;line-height: 26px;margin-bottom: 15px;color:#333;}
.client-des span a {font-size: 14px; color: #333; margin-bottom: 15px; outline: none; display: block;text-align: left; font-family: 'open_sanssemibold'; letter-spacing: 1px; }
.client-des span a:hover{color:#593466;text-decoration: none;}
.client-testimonials .owl-carousel .owl-item .social-icon a img {width: auto; }
.client-testimonials .like-icon {display: inline-block; width: 33.33%; }
.client-testimonials .social-icon {border-top: 1px solid #ddd; padding: 10px 0px; }
.client-testimonials ul {padding: 0px; margin: 0; list-style-type: none; width: 33.33%; display: inline-flex;text-align: center; }
.client-testimonials ul li {display: inline-block; padding: 5px 7px; }
.client-testimonials ul li:hover{opacity: 0.7;}
.client-testimonials .bookmark-icon {display: inline-block; text-align: right;float: right;}
.client-testimonials .bookmark-icon a {display: inline-block; margin-right: 2px; background-color: #fff; border-radius: 50%; height: 30px; width: 30px; padding: 9px 0px 0px 10px; -webkit-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75); box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75); position: relative; top: 5px; }
/*.client-testimonials .owl-carousel .owl-item  ul li:last-child a img {width: 3px; }*/
/*third client-testimonials*/
.client-des h5{font-size: 14px;color:#666;text-align: center;margin:0px 0px 10px 0px;}
.same .client-des h4::before, .same .client-des h4::after{border:none;}
.same .client-des h4 img {display: inline-block; margin: -3px 6px 0px 0px; }
/*forth client-testimonials*/
.mid-arrow .owl-nav .owl-prev, .mid-arrow .owl-nav .owl-next{top:40%;}
.mid-arrow .client-des {padding: 15px 25px; }
.mid-arrow .client-des p{text-align: justify;}
/* five image text client-testimonials */
.client-testimonials.img-text .testimonail-profile {position: relative; background-image: url("../images/laptop.jpg"); background-repeat: no-repeat; background-size:cover;}
.client-testimonials.img-text .testimonail-profile .client-des{position: static;}
.testimonail-profile .client-des p{color:#fff;font-size: 18px;line-height: 26px;}
.testimonail-profile .client-des h4{color:#00d7fe;font-size: 24px;}
.testimonail-profile .client-des h5{color:#fff;}
/*poll client-testimonials*/
.client-testimonials.poll .testimonail-profile {position: relative; background-image: url("../images/poll-background.jpg"); background-repeat: no-repeat; background-size:cover;}
.client-testimonials.poll .testimonail-profile .client-des{position: static;color:#fff;}
.testimonail-profile .client-des button {font-family: 'open_sanssemibold';height:30px;margin: 15px 0px 30px 0px;font-size: 18px; width: 100%; background-color: #593466; border: none; text-transform: uppercase; letter-spacing: 1px; transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s;}
.testimonail-profile .client-des button:hover{background-color: #fff;color:#593466;transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s;}
.testimonail-profile .client-des h3:nth-child(2){margin-bottom:22px;margin-top: 0px;}
.testimonail-profile .client-des h3 {font-size: 20px; margin: 14px 0px; }
.testimonail-profile .client-des .poll-heading {color: #fff; text-transform: uppercase; font-size: 24px;border-bottom: 1px solid #ddd;padding-bottom: 15px;margin: 0px 0px 20px 0px;}
/*RIGHT SECTION CSS*/
.right-section h2 {margin-bottom: 14px; }
.right-section ul {border: 1px solid #ddd; height: 410px;border-right:transparent;-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13); -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13); box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13); }
.right-section ul li {position: relative; padding: 7px 95px 7px 7px; text-align: left; min-height: 90px; }
.right-section ul li:nth-child(odd) {background-color: #eae9e9;}
.right-section ul li:nth-child(even) {background-color: #ffffff;}
.right-section ul li figure {position: absolute; top: 0; right: 7px; bottom: 0; margin: auto; vertical-align: middle; max-height: 75px; max-width: 75px; }
.right-section ul li figure img{max-width: 100%;}
.right-section ul li label {font-size: 10px; margin: 5px 0px 0px 0px; padding: 0px; font-weight: normal; font-family: 'open_sanssemibold'; text-transform: capitalize; }
.right-section ul li p{margin: 0px;color:#666;font-size: 14px;}
.right-section ul li p img{margin-right: 5px;}
.right-section ul li p a {color: #666; font-size: 16px; }
.right-section ul li p a:hover, li p a:focus{color:#333;text-decoration: none;outline: none;}
.right-section .youtube-btn {position: absolute; max-width: 20px; right: 35px; top: 43px; bottom: 0; }
.right-section .youtube-btn img{max-width: 100%;}
.mCustomScrollbar .mCSB_inside > .mCSB_container {margin-right: 16px; }
.mCustomScrollbar .mCSB_scrollTools a + .mCSB_draggerContainer {margin: 0; border-radius: 0px; background-color: #f1f1f1; border-left: 1px solid #ddd; box-shadow: none; }
.mCustomScrollbar .mCS-3d-thick.mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger_bar{width:12px;box-shadow: none;margin:20px 2px;background-color: #c0c0c0;border-radius: 0px;}
.mCustomScrollbar #mCSB_1_scrollbar_vertical {width: 17px; }
/*TOP SCROLL BUTTON*/
.topscroll-btn a {display:none;outline:none;background-color: #ffffff;z-index: 999;width: 40px; height: 40px; border: 1px solid #333; border-radius: 50%; text-align: center;line-height: 40px; position: fixed;right: 4%;bottom: 10%; }
.topscroll-btn a:hover img{margin-top:-5px;transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s;}
.topscroll-btn.fixed a{display: block;transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s;}

/*=== INNER PAGE CSS START ===*/
/*LOGI SIGNUP PAGE CSS */
.login-sign-page{background: url("../images/login-signup-background.png") #ddd;background-repeat:no-repeat;max-width: 1920px;margin:auto;background-size: 100%;}
.w-background {position:relative;max-width: 960px; background-color: #fff; padding: 50px 30px 30px 30px; font-size: 0px; margin: 100px auto;}
.w-background::before {position: absolute; content: " "; left: 0; height: 300px; border: 1px solid #ddd; right: 0; width: 1px; margin: auto; top: 145px; bottom: 0; }
.w-background .logo {text-align: center;padding-bottom:40px; } 
.w-background .logo figure img {width: 146px; }
.w-background .logo h4 {margin: 18px 0px 0px 0px; font-size: 20px; color: #333; }
.w-background form {max-width: 387px; }
.w-background .login-form {float: right;width:100%;}
.w-background form h2 {font-size: 24px; color: #593466; margin: 0px 0px 15px 0px;  font-family: 'open_sanssemibold';}
.w-background form p {font-size: 16px; color: #333; margin: 0px 0px 32px 0px; }
.w-background form .login-p {margin: 0px 0px 15px 0px; }
.w-background form label {color: #666; font-weight: normal; font-size: 14px; letter-spacing: 1px; margin: 0px 0px 7px 0px; }
.w-background form .same {width: 49%; display: inline-block;}
.w-background form .same:nth-child(4){float: right;}
.w-background form .form-control {border-radius: 3px; border: 1px solid #ddd; box-shadow: none; background-color: #f5f2f2; margin-bottom: 15px; outline: none;color:#333; }
.w-background form .form-control::-webkit-input-placeholder { /* Chrome */ color:#666;font-size: 14px; }
.w-background form .form-control:-ms-input-placeholder { /* IE 10+ */ color:#666;font-size: 14px; }
.w-background form .form-control::-moz-placeholder { /* Firefox 19+ */ color:#666;font-size: 14px; }
.w-background form .form-control:-moz-placeholder { /* Firefox 4 - 18 */ color:#666;font-size: 14px; }
.w-background span {font-size: 14px; color: #333; display: block;margin-top:20px; }
.w-background span a {color: #333; margin: 22px 0px 0px 0px; display: block; }
.w-background span a:hover {color: #593466;text-decoration: none;}
.w-background button { font-family: 'open_sanssemibold';width: 100%; margin: 20px 0px 12px 0px;background-color: #593466; color: #fff; height: 32px; border: none; border-radius: 3px; font-size: 14px; text-transform: uppercase; }
.w-background button:hover{background-color:#5d286f;}
.w-background button img {margin-right: 5px; margin-top: -2px; }
.w-background .login-with {text-align: center; margin: 0px 0px 12px 0px; }
.w-background .social-btn a {max-width: 270px;margin:0px auto 10px auto;display: block;}
.w-background .social-btn a:hover{opacity: 0.8;}
.w-background .social-btn a img{max-width: 100%;}
.w-background form span input {position: relative; top: 2px; outline: none;}
.mid-arrow .client-des p{margin-bottom: 0px;}
.login-page-menu {padding: 30px 0px 15px 0px; }
.login-page-menu ul {padding: 0; margin: 0; }
.login-page-menu li {display: inline-block; padding: 0px 10px; text-align: center; width: 10%; }
.login-page-menu li a {font-size: 14px; color: #666; display: block; }
.login-page-menu p {font-size: 14px; color: #666; text-align: center; text-transform: capitalize; margin: 10px 0px 0px 0px; }

/*ARTICLE PAGE CSS*/
.main-section.Article {background-image: none;background-color: #fff;}
.Article .left-section{width:10%;}
.Article .meddle-section{width:60.5%;}
.Article .banner-section span:first-child{border-bottom: 1px solid #fff;display: inline-block;margin-bottom: 15px;}
.Article .banner-section span {font-size: 16px; font-family: 'open_sanssemibold'; color: #fff; opacity: 0.5; display: block; }
.Article .banner-section h1 {font-size: 36px;}
.Article .banner-section p{margin:0px 0px 20px 0px;}
.Article .left-section .like-icon, .Article .left-section .bookmark-icon {text-align: center; }
.Article-social .like-icon a {text-align: center;margin:auto;background-color: #000; display:block; border-radius: 50%; height: 40px; width: 40px; line-height: 40px; }
.Article-social .like-icon span {font-size: 14px; color: #666; margin-top: 10px; border-bottom: 1px solid #ddd; display: inline-block; padding-bottom: 4px; }
.Article-social ul li a {width: 30px; height: 30px; line-height: 30px; border-radius: 50%; background-color: #ddd; display: inline-block; text-align: center; }
.Article-social a:hover{opacity: 0.7;}
.Article-social ul li:first-child a{background-color: #3a5793;}
.Article-social ul li:nth-child(2) a{background-color: #4cb1f1;}
.Article-social ul li:nth-child(3) a{background-color: #0279b3;}
.Article-social ul li:last-child a{background-color: #c52227;}
.Article-social ul li a img{margin:0px;}
.Article-social ul li{text-align: center;padding: 0px;}
.Article-social .bookmark-icon a {width: 30px; height: 30px; line-height: 30px; border-radius: 50%; background-color: #0bb372; display: inline-block; text-align: center; position: relative; margin-top: 10px; }
.Article-social .bookmark-icon a::before {position: absolute; border: 1px solid #ddd; content: " "; width: 30px; left: 0; right: 0; top: -10px; }
.Article .text p {font-size: 16px; color: #333; line-height: 30px; text-align: justify; }
.Article .text span {font-size: 18px; color: #333; font-family: 'open_sanssemibold';}
.Article .client-testimonials {padding: 0px; position: static; background-color: transparent; border: none; margin-bottom: 10px;box-shadow: none;}
.Article .client-testimonials .testimonail-profile {position: relative; background-image: url("../images/poll-background.jpg"); background-repeat: no-repeat; background-size: 100% 100%; }
.Article .client-testimonials.poll figure {max-width: 100%; margin: 0px; }
.Article .testimonail-profile.answer {margin-top: 20px; } 
.Article .client-testimonials.poll .client-des {padding: 25px 50px 15px 50px;position: static; }
.Article .client-testimonials.poll .poll-heading{text-align: center;}
.Article .client-testimonials.poll h3{font-size: 22px;}
.Article .client-testimonials.poll h4::before, .Article .client-testimonials.poll h4::after{border:none;}
.Article .client-testimonials.poll figure img{max-width: 100%;}
.answer .client-des h3:nth-child(2){width: 100%;text-align: left;}
.answer .client-des h3:last-child {width: 100%; text-align: left; }
.answer .client-des h3 {display: inline-block; width: 25%; text-align: center; }
.progress-box {margin-top: 20px; }
.progress-box span {font-size: 20px; display: inline-block; width: 10%; vertical-align: top; }
.progress-box .progress {height: 13px; margin-bottom: 12px; width: 90%; display: inline-block; vertical-align: bottom; }
.progress-box .progress-bar {background-color: #763d6e; }
.text-image-box .client-des h4::before {position: absolute; content: " "; border: 1px solid #ddd; width: 200px; left: 0px; top: 50%; }
.text-image-box .client-des h4::after {position: absolute; content: " "; border: 1px solid #ddd; width: 200px; right: 0px; top: 50%; }
.Article .image-box {margin-bottom: 10px; }
.Article .left-div {display: inline-block; width: 67%; vertical-align: top; padding-right: 3px; }
.Article .right-div {display: inline-block; width: 33%; }
.Article .right-div2 {padding-top: 3px; }
.Article .image-box figure img {max-width: 100%; }
.table-box table, th, td {font-size: 14px; color:#666;text-align: center; text-transform: uppercase; border: 1px solid #ddd; border-collapse: collapse; }
.table-box .table thead tr th{border-bottom:none;background-color: #593466;color:#fff;font-weight: normal;}
.table-box .table thead tr th, .table-box .table tbody tr td{padding: 12px 5px;}
.Article .quartz{background-color: #f3f3f3;padding: 10px;margin-bottom: 30px;}
.Article .quartz p {font-size: 18px;line-height: 26px;margin: 0px; text-align: justify; }
.Article .point{margin-bottom: 30px;}
.point h4 {font-size: 18px; color: #593466; margin-bottom: 10px; }
.point ul{padding-left: 15px;}
.point ul li {font-size: 14px; margin-bottom: 12px; list-style-type: initial;color:#666; }
.point ul li ul {padding: 15px 0px 0px 30px; }
.point ul li ul li{list-style-type: circle;}
.point li span {color: #593466; font-size: 16px; }
.code {margin-bottom: 25px; }
.code h3{font-size: 18px;font-family: 'open_sanssemibold';color:#593466;}
.code p{font-size: 14px;color:#666;}
.code figure img {max-width: 100%; }
.Article .client-testimonials .owl-nav .owl-prev{top:46%;}
.Article .client-testimonials .owl-nav .owl-next{top:46%;}
.meddle-section .Article-social{background-color: #fff;padding: 10px;margin: 25px 0px; -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13); -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13); box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13); }
.meddle-section .Article-social .like-icon a {display: inline-block; text-align: center; margin-right: 15px; }
.meddle-section .Article-social span {font-size: 16px; color: #333; margin-top: 0; border: none; display: inline-block; padding-bottom: 0; vertical-align: middle; }
.meddle-section .Article-social ul li {text-align: center; padding: 0px; display: inline-block; margin: 2px; }
.meddle-section .Article-social .bookmark-icon a{margin:0px 0px 0px 15px;}
.meddle-section .Article-social .bookmark-icon {float: right; display: inline-block; text-align: right; }
.meddle-section .Article-social .like-icon {display: inline-block; width: 25%; }
.meddle-section .Article-social ul {padding: 0px; margin: 0; list-style-type: none; width: 45%; display: inline-flex; text-align: center; }
.meddle-section .Article-social .bookmark-icon a::before {border:none;}
.client-section {border: 1px solid #ddd; padding: 10px; margin-bottom: 25px;}
.client-section figure {max-width: 110px; margin: auto; }
.client-section figure img {max-width: 100%; }
.client-section .text h2{border:none;padding: 0px;}
.client-section .text h2 span{color:#666;font-size: 13px;font-weight: normal;}
.client-section .icon ul{display: block;text-align: center;margin-top:15px;}
.client-section .icon li {display: inline-block; margin: 5px; text-align: center; }
.client-section .icon li:hover{opacity: 0.7;}
.client-section .text p {font-size: 14px; color: #666; line-height: 23px; text-align: justify; }
.related-post .item .posts p{font-size: 14px; color: #666; line-height: 23px;text-align: left; }
.related-post .item .posts {display: inline-block; max-width: 212px; }
.related-post .item .posts figure img{max-width: 100%;}
.related-post .client-des{padding: 0px 0px 0px 10px;border-left: 1px solid #ddd;margin-top:10px;}
.related-post .client-des h5 {font-size: 14px; font-family: 'open_sanssemibold'; color: #333; text-align: left; margin-bottom: 5px; }
.Article .related-post .owl-nav .owl-prev {top: 28%; left: 0; }
.Article .related-post .owl-nav .owl-next {top: 28%; right: 0; }

/*ALL TOPIC PAGE CSS */
.search-heading h2 {border: none; padding: 6px 0px 0px 0px; text-transform: capitalize; font-size: 18px; }
.All-topic .search-bar {vertical-align: middle; padding: 0px 0px 10px 0px; }
.All-topic .search-bar .search-btn {position: absolute; background-color: #593466; right: 0px; padding: 5px 20px; top: 0; border-radius: 0px 4px 4px 0px; }
.All-topic .search-heading {padding-bottom: 0; vertical-align: middle; }
.main-section.All-topic {padding: 0px 0px 30px 0px; }
.banner-section{overflow: hidden;position: relative;margin-bottom: 30px;}
.banner-section figure img {position: relative; left: 50%; margin-left: -925px; }
.banner-section h1 {font-size: 48px; color: #fff; font-family: 'open_sanssemibold'; margin: 10px 0px 20px 0px; }
.banner-section p {font-size: 14px; color: #fff; margin: 0px 0px 10px 0px; line-height: 23px; max-width: 506px;   }
.banner-section h1 img {position: relative; top: -6px; margin-right: 10px; }
.banner-section .text-box {padding: 98px 0px 0px 100px; position: absolute; top: 0px; bottom: 0;}
.search-heading {padding-bottom: 25px; }
.search-heading h2 {border: none; padding: 0px;text-transform: capitalize; }
.search-heading p {font-size: 16px; color: #333; margin: 0px; }
.topic-box {background-color: #fff; padding: 10px; text-align: center;border:1px solid #ddd;margin-bottom: 30px;}
.topic-box figure img {max-width: 100%; }
.topic-box h4 {font-size: 14px; color: #333; text-transform: uppercase; margin:15px 0px;}
.topic-box h4 {font-size: 16px; color: #333; font-family: 'open_sanssemibold'; margin: 10px; }
.topic-box button {min-width: 85px; height: 24px; background-color: transparent; color: #333; border: 1px solid #ddd; font-size: 14px; border-radius: 3px; line-height: 24px; text-align: center; font-family: 'open_sanssemibold';}
.topic-box button:hover{background-color:#edebeb;}
.topic-box button img{margin-right:5px;margin-top:-3px;}
.All-topic .btn-div{text-align: center;margin-top:20px;}
.All-topic .btn-div a {outline: none;display: inline-block; height: 40px; min-width: 140px; font-size: 14px; line-height: 40px; margin: 0px 10px; text-align: center; text-transform: uppercase; border-radius: 18px;font-family: 'open_sanssemibold';}
.All-topic .btn-div .previous {background-color: #593466; color: #fff; }
.All-topic .btn-div .previous:hover {background-color: #5d286f;text-decoration: none;}
.All-topic .btn-div .next {background-color: #ecebeb; color: #333;border:1px solid #333; }
.All-topic .btn-div .next:hover {background-color: #ddd;text-decoration: none;}
.All-topic .btn-div img {margin: 0px 5px; position: relative; top: -2px; }

/*SEARCH RESULT PAGE CSS*/
.Search-result .banner-section figure img {position: static; left: 0; margin-left: 0; }
.banner-section .btn-div button {margin-right:10px;font-size: 14px; padding: 8px 16px; text-transform: uppercase; background-color: transparent; color: #fff; border: 1px solid #fff; border-radius: 3px; transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s;}
.banner-section .btn-div button:hover {background-color: #fff; color: #333;transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; }
.topic-box .social-icon {padding: 5px 0px 0px 0px; }
.topic-box .social-icon ul {padding: 0px;text-align: left;display: inline-block;float: left; }
.topic-box .social-icon ul li {display: inline-block; padding: 5px 7px; }
.topic-box .social-icon ul li:hover {opacity: 0.7; }
.right-icon{text-align: right;display: inline-block;width: 75%;font-size: 0px;}
.right-icon a {font-size: 14px; color: #666;padding: 5px;display: inline-block; outline: none;}
.right-icon a:first-child {position: relative; top: 2px; right: 12px;font-family: 'open_sanssemibold';color:#333;}
.right-icon a:first-child:hover{text-decoration: none;color:#5d286f;}
.Search-result .search-heading h2 {text-transform: capitalize; color: #666; }
.Search-result .search-heading h2 span {color: #333; }
.Search-result .search-heading h2 span img{max-width: 10px; position: relative;top:-9px;}
.Search-result .banner-section .text-box {padding: 45px 0px 0px 100px; position: absolute; top: 0px; bottom: 0; }

/*TECHNOLOGY PAGE CSS*/
.main-section.technology {padding: 0px 0px 30px 0px; }
.technology .banner-section .text-box {padding: 98px 0px 0px 100px;}
.technology .banner-section .btn-div button{margin-top:10px;}
.technology .banner-section .btn-div button svg {fill: #fff; height: 14px; position: relative; top: 2px; }
.technology .banner-section .btn-div button:hover svg{fill:#333;}

/*BOOKMARK PAGE CSS*/
.bookmark .client-testimonials{position: relative;margin-bottom: 15px;}
.bookmark .client-testimonials figure {max-width: 200px; float: left;margin-right: 15px;}
.bookmark .client-testimonials figure img {max-width: 100%; }
.bookmark .client-des h4{text-align: left;margin-bottom: 5px;}
.bookmark .client-des p{margin-bottom: 5px;}
.bookmark .client-des h4::before, .bookmark .client-des h4::after {border:none;}
.bookmark .client-testimonials .client-des {padding: 10px 0px 0px 0px; }
.bookmark .client-testimonials .social-icon {border: none; padding: 0px; }
.bookmark .client-testimonials ul{text-align: left;width: 50%;}

/*COMPANY-PROFILE PAGE CSS*/
.company-profile  .banner-section p{text-align: left;}
.company-profile .banner-section{max-width: 1920px;margin: 0px auto 30px auto;}
.main-profile-page {text-align: center; }
.company-profile  .right-section {display: inline-block; width: 34%; vertical-align: top; float: none; text-align: center; margin-bottom: 25px; }
.company-profile .meddle-section {display: inline-block; width: 54%; vertical-align: top; margin-left: 20px; }
.company-profile .meddle-section .profile {background-color: #fff; margin-bottom: 25px;-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13); -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13); box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13);}
.profile-header figure img {max-width: 100%; }
.company-profile .meddle-section .profile-body{padding: 0px 15px 15px 15px;}
.profile-body figure img {max-width: 100%;}
.profile-body figure {width: 115px; height: 115px; border-radius: 50%; overflow: hidden; border: 3px solid #fff; margin: -58px auto 0px auto; z-index: 999; position: relative; }
.profile-body {text-align: center; }
.profile-body h4 {font-size: 24px; color: #333; font-family: 'open_sanssemibold'; margin: 15px 0px; }
.profile-body ul li {display: inline-block; padding: 0px 8px; }
.profile-body ul li:hover {opacity: 0.7; }
.profile-body p {font-size: 16px; color: #333; line-height: 30px; text-align: justify; margin: 15px 0px 0px 0px; }

/*CONTACT PAGE CSS*/
.main-section.contact{padding-top:0px;}
.category-name {background-color: #fff;padding: 20px 0px;}
.category-name h1 {font-size: 30px; text-transform: uppercase; font-family: 'open_sanssemibold'; color: #593466; margin: 0px; }
.contact-content {padding: 30px 0px 15px 0px; } 
.contact-content h2 {color:#333;text-align: center; display: block; border: none; font-size: 30px; text-transform: capitalize;padding: 0px;margin-bottom: 20px; }
.contact-content p{text-align: justify;font-size: 14px;line-height: 23px;color: #666;}
.contact-form h3 {color: #333; font-size: 18px; margin: 0 0 25px; text-align: center;}
.contact-form {background-color: #f1f2f3; border: 1px solid #e4e4e4; border-radius: 6px; padding: 30px; }
.contact-form .form-control {border-color: #ececec; box-shadow: none; height: 47px; color:#666;}
.contact-form .custom-btn {border-radius: 5px; padding: 10px 27px; font-size: 14px; background-color: #593466; border: 1px solid #593466; color: #fff; margin: 10px auto; max-width: 180px; display: block; text-align: center;  font-family: 'open_sanssemibold';}
.contact-form .custom-btn:hover {text-decoration: none; background-color: #5d286f; border-color: #5d286f; }
.map, .contact-form{margin-bottom: 25px;}
.map iframe {height: 428px; width: 100%; border-radius: 6px; }

/*FAQ PAGE CSS*/
.main-section.faq {padding-top: 0px; }
.faq-page .search-bar {margin-bottom: 20px; }
.faq-page {padding: 30px 0; }
.faq-blog {min-height: 310px; background-color: #FFF; padding: 30px 28px 0; border: 1px solid #d9dfe4; margin-bottom: 19px; -webkit-box-shadow: 0px 0px 19px -14px rgba(0,0,0,0.24); -moz-box-shadow: 0px 0px 19px -14px rgba(0,0,0,0.24); box-shadow: 0px 0px 19px -14px rgba(0,0,0,0.24); }
.faq-blog1{min-height: 250px;}
.faq-blog2{min-height: 120px;}
.faq-blog h4 {margin: 0 0 15px; font-size: 19px; color: #593466; font-family: 'open_sanssemibold'; }
.faq-blog ul li {display: block; color: #666; font-size: 16px; margin-bottom: 13px; }

/*ABOUT PAGE CSS*/
.About .category-name h1 {font-size: 36px; text-transform: uppercase; font-family: 'open_sanssemibold'; color: #593466; margin: 0px; text-align: center; }
.main-section.About{padding-top: 0px;}
.About .tab-content {background-color: #fff; padding: 20px; border: 1px solid #ddd; -webkit-box-shadow: 0px 0px 19px -14px rgba(0,0,0,0.24); -moz-box-shadow: 0px 0px 19px -14px rgba(0,0,0,0.24); box-shadow: 0px 0px 19px -14px rgba(0,0,0,0.24); }
.About .tab-content h3 {font-size: 23px; color: #303030; margin: 0 0 30px; font-family: 'open_sanssemibold';} 
.About .tab-content p {font-size: 14px; color: #666; line-height: 23px; text-align: justify; margin-bottom: 15px; }

/*=== MEDIA CSS START ===*/
@media (min-width: 1200px) and (max-width: 1340px) {
/*INDEX PAGE PAGE CSS */
.topscroll-btn a{right:164px;}
}

@media (min-width: 992px) and (max-width: 1199px) {
/*INDEX PAGE PAGE CSS */
.left-section {display: inline-block; width: 20.5%; vertical-align: top; }
.meddle-section {display: inline-block; width: 50%; vertical-align: top; }
.mid-arrow .client-des {padding: 15px; }
.testimonail-profile .client-des h4 {color: #00d7fe; font-size: 20px; }
.testimonail-profile .client-des p {color: #fff; font-size: 14px; line-height: 23px; }
.client-testimonials.mid-arrow .owl-carousel .owl-item figure img {height: 100%;max-width:inherit; }
.client-testimonials .testimonail-profile a img {max-width: 45px; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
.client-des h4::before {position: absolute; content: " "; border: 1px solid #ddd; width: 85px; left: 0px; top: 50%; }
.client-des h4::after {position: absolute; content: " "; border: 1px solid #ddd; width: 85px; right: 0; top: 50%; }
.right-section .youtube-btn{top:40px;}
.right-section ul li p a {color: #666; font-size: 14px; }
.left-section button{width:115px;height: 30px;font-size: 13px;}
.client-testimonials .owl-nav .owl-prev {height: 25px; width: 25px; top: 22.5%; }
.client-testimonials .owl-nav .owl-next {height: 25px; width: 25px; top: 22.5%; }
.client-testimonials.same .owl-nav .owl-prev {height: 25px; width: 25px; top: 18.5%; }
.client-testimonials.same .owl-nav .owl-next {height: 25px; width: 25px; top: 18.5%; }
.client-testimonials.mid-arrow .owl-nav .owl-prev {height: 25px; width: 25px; top: 40.5%; }
.client-testimonials.mid-arrow .owl-nav .owl-next {height: 25px; width: 25px; top: 40.5%; }
.topscroll-btn a img {max-width: 10px; }
.client-des p{font-size: 14px;}
.client-des h4{font-size: 14px;}
.topscroll-btn a {bottom:4%;width: 35px; height: 35px; line-height: 35px; } 
/*ARTICLE PAGE CSS*/
.text-image-box .client-des h4::before, .text-image-box .client-des h4::after{width:150px;}
/*COMPANY-PROFILE PAGE CSS*/
.company-profile .right-section ul li figure {position: absolute; top: 6px; right: 7px; }
.company-profile .right-section .youtube-btn {top: 40px; }
}

@media (min-width: 768px) and (max-width: 991px) {
/*INDEX PAGE PAGE CSS */
.topscroll-btn a{right:164px;width:35px;height:35px;}
.left-section {display: inline-block; width: 25.5%; vertical-align: top; }
.meddle-section {display: inline-block; width: 74.5%; vertical-align: top; }
.right-section ul li figure {position: absolute; top: 0; right: 15px; bottom: 0; margin: auto; vertical-align: middle; max-height: 75px; max-width: 75px; }
.right-section .youtube-btn {top: 38px; right: 42px; }
.mid-arrow .client-des {padding: 15px; }
.testimonail-profile .client-des h4 {color: #00d7fe; font-size: 14px; }
.client-testimonials .testimonail-profile a img {max-width: 45px; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
.client-des h4::before {position: absolute; content: " "; border: 1px solid #ddd; width: 115px; left: 0px; top: 50%; }
.client-des h4::after {position: absolute; content: " "; border: 1px solid #ddd; width: 115px; right: 0; top: 50%; }
.right-section .youtube-btn{top:43px;}
.testimonail-profile .client-des p {color: #fff; font-size: 14px; line-height: 23px; }
.client-testimonials.mid-arrow .owl-carousel .owl-item figure img {height: 100%;max-width:inherit; }
.left-section button{width:115px;height: 30px;font-size: 13px;}
.client-testimonials .owl-nav .owl-prev {height: 25px; width: 25px; top: 26.5%; }
.client-testimonials .owl-nav .owl-next {height: 25px; width: 25px; top: 26.5%; }
.client-testimonials.same .owl-nav .owl-prev {height: 25px; width: 25px; top: 22.5%; }
.client-testimonials.same .owl-nav .owl-next {height: 25px; width: 25px; top: 22.5%; }
.client-testimonials.mid-arrow .owl-nav .owl-prev {height: 25px; width: 25px; top: 44.5%; }
.client-testimonials.mid-arrow .owl-nav .owl-next {height: 25px; width: 25px; top: 44.5%; }
.topscroll-btn a {right: 164px; width: 35px; height: 35px; line-height: 35px; } 
.topscroll-btn a img {max-width: 10px; }
.btn-bar a{font-size: 13px;}
.btn-bar a img{max-width: 12px;}
.right-section {display: inline-block; width: 100%; vertical-align: top; float: right; text-align: center;}
.right-section ul li {position: relative; padding: 10px 90px 10px 15px; text-align: left; }
.left-section ul li a {color: #333; font-size: 12px; text-transform: uppercase; }
.client-des h4{font-size: 14px;}
.client-des p{font-size: 14px;}
.right-section ul li p a {color: #666; font-size: 14px; }
.logo figure {max-width: 120px; margin:auto;}
.side-menu {display: inline-block; vertical-align: middle; margin-right: 15px; }
/*ARTICLE PAGE CSS*/
.text-image-box .client-des h4::before, .text-image-box .client-des h4::after{width:190px;}
.Article .meddle-section {width: 90%; }
.Article .banner-section span{font-size: 12px;font-weight: normal;}
.main-section.Article .banner-section .text-box {padding: 18px 0px 0px 100px; position: absolute; top: 0px; bottom: 0; }
/*LOGI SIGNUP PAGE CSS */
.w-background form h2 {font-size: 18px;}
.w-background .logo {text-align: center; padding-bottom: 30px; }
.w-background .logo h4 {margin: 18px 0px 0px 0px; font-size: 16px; color: #333; }
/*ALL TOPIC PAGE CSS */
.main-section.All-topic .banner-section .text-box {padding: 42px 0px 0px 100px; position: absolute; top: 0px; bottom: 0; }
.banner-section figure img {position: static; left: 0%; margin-left: 0px; max-width: 100%; }
.banner-section h1 img {position: relative; top: -4px; margin-right: 10px; max-width: 30px; }
.banner-section h1 {font-size: 30px; color: #fff; font-family: 'open_sanssemibold'; margin: 10px 0px 10px 0px; }
.banner-section p {font-size: 14px; color: #fff; font-weight: normal; margin: 0px 0px 10px 0px; line-height: 23px; max-width: 506px; }
.search-heading p{font-size: 14px;}
.All-topic .col-sm-3 {width: 50%;}
.topic-box h4{font-size: 14px;}
/*SEARCH RESULT PAGE CSS*/
.Search-result .banner-section .btn-div button {font-size: 12px; padding: 2px 7px;}
.Search-result .banner-section .text-box {padding: 34px 0px 0px 100px; position: absolute; top: 0px; bottom: 0; }
.Search-result .banner-section p {font-size: 13px; color: #fff; font-weight: normal; margin: 0px 0px 5px 0px; line-height: 18px; max-width: 506px; }
.banner-section h1 {font-size: 23px; color: #fff; font-family: 'open_sanssemibold'; margin: 0 0px 10px 0px; }
/*TECHNOLOGY PAGE CSS*/
.technology .banner-section .text-box {padding: 12px 0px 0px 100px; position: absolute; top: 0px; bottom: 0; }
.technology .banner-section p {font-size: 13px; color: #fff; font-weight: normal; margin: 0px 0px 5px 0px; line-height: 18px; max-width: 506px; }
.technology .banner-section h1 {font-size: 23px; color: #fff; font-family: 'open_sanssemibold'; margin: 0px 0px 10px 0px; }
.technology .banner-section .btn-div button  {  font-size: 12px; padding: 2px 7px; }
.technology .banner-section .btn-div button svg{height:12px;}
/*COMPANY-PROFILE PAGE CSS*/
.company-profile .banner-section .text-box {padding: 24px 0px 0px 100px;position: absolute; top: 0px; bottom: 0; margin: auto; height: 135px; } 
.company-profile .right-section ul li figure {position: absolute; top: 6px; right: 7px; }
.company-profile .right-section .youtube-btn {top: 40px; }
.company-profile .right-section{width:41%;}
.company-profile .meddle-section{width: 56%;}
.company-profile .right-section ul li {position: relative; padding: 7px 90px 7px 7px; text-align: left; }
/*BOOKMARK PAGE CSS*/
.bookmark .banner-section .text-box {padding: 37px 0px 0px 100px; position: absolute; top: 0px; bottom: 0; }
/*CONTACT PAGE CSS*/
.category-name h1 {font-size: 24px; text-transform: uppercase; font-family: 'open_sanssemibold'; color: #593466; margin: 0px; }
.contact-form h3 {color: #333; font-size: 16px; margin: 0 0 25px; text-align: center; }
.contact-form .form-control {border-color: #ececec; box-shadow: none; height: 40px; color: #666; }
.contact-form .custom-btn {border-radius: 5px; padding: 7px 27px;} 
.map iframe {height: 330px; width: 100%; border-radius: 6px; }
/*FAQ PAGE CSS*/
.faq-blog h4{font-size: 18px;}
/*ABOUT PAGE CSS*/
.About .category-name h1 {font-size: 24px; text-transform: uppercase; font-family: 'open_sanssemibold'; color: #593466; margin: 0px; text-align: center; }
.About .tab-content h3 {font-size: 20px; color: #303030; margin: 0 0 14px; }
}

@media (max-width: 767px) {
/*INDEX PAGE PAGE CSS */
.banner-section{margin-bottom: 15px;}
.topscroll-btn a{right:164px;width:35px;height:35px;}
.left-section {display: block; width: 100%; vertical-align: top;margin-bottom: 15px; }
.meddle-section {display: block; width: 100%; vertical-align: top; }
.right-section ul li figure {position: absolute; top: 9px; right: 9px; }
.mid-arrow .client-des {padding: 15px; }
.testimonail-profile .client-des h4 {color: #00d7fe; font-size: 20px; }
.client-testimonials .testimonail-profile a img {max-width: 45px; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
.client-des h4::before {border:none;}
.client-des h4::after {border:none;}
.right-section .youtube-btn{top:43px;}
.testimonail-profile .client-des p {color: #fff; font-size: 14px; line-height: 23px; }
.client-testimonials.mid-arrow .owl-carousel .owl-item figure img {height: 100%;max-width:inherit; }
.left-section button{width:180px;height: 30px;font-size: 13px;margin: 10px 0px 0px 0px;}
.client-testimonials .owl-nav .owl-prev {height: 25px; width: 25px; top: 26.5%; }
.client-testimonials .owl-nav .owl-next {height: 25px; width: 25px; top: 26.5%; }
.client-testimonials.same .owl-nav .owl-prev { top: 22.5%; }
.client-testimonials.same .owl-nav .owl-next { top: 22.5%; }
.client-testimonials.mid-arrow .owl-nav .owl-prev {top: 44.5%; }
.client-testimonials.mid-arrow .owl-nav .owl-next {top: 44.5%; }
.topscroll-btn a {right: 30px; width: 35px; height: 35px; line-height: 35px; z-index: 999;} 
.topscroll-btn a img {max-width: 10px; }
.main-header .btn-bar {display: none;}
.right-section {display: inline-block; width: 100%; vertical-align: top; float: right; text-align: center;}
.right-section ul li {position: relative; padding: 20px 90px 20px 15px; text-align: left; }
.main-header .search-bar {display: none;}
.main-header .text-right {text-align: right; position: absolute; right: 20px; top: 15px; }
.btn-bar {padding-top: 0; display: inline-block; }
.left-section ul li {display: inline-block; width: 50%; padding: 0px 5px; margin: 10px 0px; }
.left-section ul li a{font-size: 12px;}
.left-section ul li a img {margin-right: 5px; }
.client-testimonials{margin-bottom: 15px;}
.client-testimonials .testimonail-profile a img{max-width: 80px;}
.client-testimonials .like-icon { width: 20%; }
.client-testimonials ul{width:60%;}
.client-testimonials .bookmark-icon{width:20%;}
.client-des h4{font-size: 14px;font-weight: normal;}
.testimonail-profile .client-des h4 {font-weight: normal;}
.client-des p{font-size: 12px;}
.client-testimonials .social-icon {border-top: 1px solid #ddd;padding: 0px 0px 10px 0px;}
.testimonail-profile .client-des p {color: #fff; font-size: 12px; line-height: 23px; }
.client-testimonials{padding: 15px 15px 0px 15px; margin: 0px auto 15px auto;}
.sidenav .logo {text-align: center; padding-top: 20px; margin-bottom: 20px; position: static; }
.sidenav .navbar-collapse {display: block; }
footer h2 {margin: 0px 0px 5px 0px; font-size: 20px; font-family: 'open_sanssemibold'; color: #5d286f; }
footer .search-bar {margin: 10px 0px 25px 0px; position: relative; top: 0px; width: 100%; }
footer .social-icon {margin: 0px 0px 15px 0px; border-bottom: 1px solid #fff; padding-bottom: 15px; }
footer p {margin: 0px 0px 10px 0px; font-size: 14px; color: #333; }

.left-section ul li a {color: #333; font-size: 12px; text-transform: uppercase; }
.client-des h4{font-size: 14px;}
.client-des p{font-size: 14px;}
.right-section ul li p a {color: #666; font-size: 14px; }
.logo figure {max-width: 120px; margin: auto; }
.side-menu {display: inline-block; vertical-align: middle; margin: 7px 0px 0px 0px; position: relative; z-index: 999; }
.main-header .logo {display: inline-block; vertical-align: middle; position: absolute; left: 0; right: 0; width: 100%; text-align: center; }
.right-section{display: none;}
.main-header{height: 48px;}
.user-img {display: inline-block; margin-left: 15px; vertical-align: middle; position: relative; top: -42px; z-index: 9999; }
.client-testimonials .owl-carousel .owl-item figure img {width: 100%;height: 100%; }
.left-section button{text-align: left;}
footer .btn-bar {display: block; margin: 0px 0px 20px 0px; }
/*ARTICLE PAGE CSS*/
.text-image-box .client-des h4::before, .text-image-box .client-des h4::after{border:none;}
.Article .left-section {width: 100%; display: none; }
.Article .meddle-section {width: 100%; }
.client-des p {text-align: justify; font-size: 12px; }
.Article .banner-section .text-box {height: auto; position: static; background-color: #333; padding: 20px 10px; }
.Article .banner-section h1 {font-size: 30px; }
.Article .banner-section span{font-size: 14px;font-weight: normal;}
.Article .banner-section span:first-child{margin-bottom: 10px;}
.Article .banner-section p {margin: 0px 0px 10px 0px; }
.testimonail-profile .client-des h3:nth-child(2) {margin: 0px; }
.meddle-section .Article-social span{font-size: 12px;}
.meddle-section .Article-social .like-icon a{margin-right:5px;width:35px;height:35px;line-height: 35px;}
.meddle-section .Article-social .like-icon a img{max-width: 20px;}
.meddle-section .Article-social .bookmark-icon a{margin-left: 5px;}
.client-section .text {text-align: center; margin-top: 15px; }
.client-section .text p{text-align: center;}
.client-section .text p:last-child{text-align:justify;}
.related-post .item .posts {display: inline-block; max-width: 215px; }
.Article .text p{font-size: 12px;}
.Article .client-testimonials.poll .client-des {padding: 20px; position: static; }
.Article .quartz p{font-size: 14px;}
.quartz p span img {max-width: 20px; }

/*LOGI SIGNUP PAGE CSS */
.w-background form h2 {font-size: 18px; text-align: center; margin: 0px 0px 10px 0px; }
.w-background form p{text-align: center;font-size: 14px;}
.w-background .logo {text-align: center; padding-bottom: 30px; }
.w-background .logo h4 {margin: 14px 0px 0px 0px; font-size: 14px; color: #333; }
.w-background {position: relative; max-width: 100%;background-color: #fff; padding: 30px 15px 15px 15px; font-size: 0px; margin: 100px auto; min-height: auto; }
.w-background .logo {text-align: center; padding-bottom: 20px; position: static; }
.w-background form {max-width: inherit; } .w-background .login-form {float: none; width: 100%; margin-top: 40px; }
.w-background::before {position: absolute; content: " "; left: 0; border: 1px solid #ddd; right: 0; margin: auto; height:1px; bottom: 15px; width: 80%; }
.login-page-menu li {display: inline-block; padding: 0px 10px; text-align: center; width: 20%; margin-bottom: 5px; }
/*ALL TOPIC PAGE CSS */
.banner-section figure img {position: static; left: 0%; margin-left: 0px; max-width: 100%; }
.banner-section .text-box {padding: 15px; position: relative; top: 0px; bottom: 0; margin: auto; height: auto; background-color: #515150; }
.banner-section h1 img {position: relative; top: -4px; margin-right: 10px; max-width: 30px; }
.banner-section h1 {font-size: 30px; color: #fff; font-family: 'open_sanssemibold'; margin: 10px 0px 10px 0px; }
.banner-section p {font-size: 14px; color: #fff; font-weight: normal; margin: 0px 0px 10px 0px; line-height: 23px; max-width: 506px; }
.search-heading p{font-size: 14px;}
.All-topic .col-sm-3 {width: 50%;display: inline-block;}
.topic-box h4{font-size: 14px;}
.All-topic .search-heading {padding-bottom: 5px; text-align: center; }
.All-topic .search-bar {position: relative; top: 0px; margin: 0px auto 20px auto;max-width: 50%; }
.All-topic .btn-div a {outline: none; display: inline-block; height: 35px; min-width: 125px; font-size: 14px; line-height: 35px; margin: 0px 10px; text-align: center; text-transform: uppercase; border-radius: 18px; }
.All-topic .btn-div img {margin: 0px 2px; position: relative; top: -2px; }
.All-topic .btn-div {text-align: center; margin-top: 0px; }
/*SEARCH RESULT PAGE CSS*/
.Search-result .banner-section .text-box {padding:15px; position: static;height: auto;}
.Search-result .banner-section .btn-div button {font-size: 12px; padding: 2px 7px;}
.Search-result .banner-section p {font-size: 13px; color: #fff; font-weight: normal; margin: 0px 0px 5px 0px; line-height: 18px; max-width: 506px; }
.banner-section h1 {font-size: 23px; color: #fff; font-family: 'open_sanssemibold'; margin: 0 0px 10px 0px; }
.Search-result .search-heading {padding-bottom: 10px; }
/*TECHNOLOGY PAGE CSS*/
.technology .banner-section .text-box {padding:15px; position: static;height: auto;}
.technology .banner-section p {font-size: 13px; color: #fff; font-weight: normal; margin: 0px 0px 5px 0px; line-height: 18px; max-width: 506px; }
.technology .banner-section h1 {font-size: 23px; color: #fff; font-family: 'open_sanssemibold'; margin: 0px 0px 10px 0px; }
.technology .banner-section .btn-div button  {  font-size: 12px; padding: 2px 7px; }
.technology .banner-section .btn-div button svg{height:12px;}
/*BOOKMARK PAGE CSS*/
.bookmark .client-testimonials figure {max-width: 100%; float: none; margin: 0px; }
.bookmark .client-des h4{text-align: center;margin-bottom: 10px;}
.bookmark .client-testimonials .social-icon {border: none; padding: 0px 0px 10px 0px; }
.bookmark .client-testimonials figure img {width: 100%; }
/*COMPANY-PROFILE PAGE CSS*/
.company-profile .right-section {display: none; }
.company-profile .banner-section .text-box {position: static; padding: 15px; height: auto; } 
.company-profile .right-section ul li figure {position: absolute; top: 6px; right: 7px; }
.company-profile .right-section .youtube-btn {top: 40px; }
.company-profile .meddle-section{width: 100%;display: block;margin-left: 0px;}
.company-profile .right-section ul li {position: relative; padding: 7px 90px 7px 7px; text-align: left; }
.profile-body p{font-size: 12px;}
.profile-header figure img {width: 100%; }
/*CONTACT PAGE CSS*/
.category-name {background-color: #fff; padding: 15px 0px; }
.contact-content {padding: 18px 0px 15px 0px; }
.category-name h1 {font-size: 22px; text-transform: uppercase; font-family: 'open_sanssemibold'; color: #593466; margin: 0px; }
.contact-form h3 {color: #333; font-size: 16px; margin: 0 0 25px; text-align: center; }
.contact-form .form-control {border-color: #ececec; box-shadow: none; height: 40px; color: #666; }
.contact-form .custom-btn {border-radius: 5px; padding: 7px 27px;} 
.map iframe {height: 330px; width: 100%; border-radius: 6px; }
.contact-content h2{margin-bottom: 10px;}
.contact-content p{font-size: 12px;}
/*FAQ PAGE CSS*/
.faq-blog h4{font-size: 18px;}
.faq-page .search-bar {margin-bottom: 20px; width: 50%; float: right; }
.faq-blog ul li{font-size: 12px;}
.faq-blog {min-height: 270px;}
.faq-blog1 {min-height: 200px;}
.faq-blog2 {min-height: 110px; }
/*ABOUT PAGE CSS*/
.About .category-name h1 {font-size: 24px; text-transform: uppercase; font-family: 'open_sanssemibold'; color: #593466; margin: 0px; text-align: center; }
.About .tab-content h3 {font-size: 20px; color: #303030; margin: 0 0 14px; }
.About .tab-content p{font-size: 12px;}
}

@media (max-width: 479px) {
.main-section h2 {font-size: 16px; padding-bottom: 5px; }
.left-section ul li {display: inline-block; width: 50%; padding: 0px 5px; }
.client-testimonials .testimonail-profile a img {max-width: 35px; }
.client-des h4::before {border:none;}
.client-des h4::after {border:none;}
.left-section ul li figure {display: inline-block; margin-right: 5px; height: 30px; width: 30px; border-radius: 50%; overflow: hidden; vertical-align: middle; }
.sidenav figure {max-width: 80px; margin: auto; }
.btn-bar a {font-size: 12px; }
.btn-signup {margin-left: 11px; position: relative; }
.btn-signup::before {left: -8px;} 
.search-bar{display: none;}
.client-testimonials {padding: 5px 5px 0px 5px; max-width: 580px; margin: 0px auto 15px auto; }
.client-des span a{margin-bottom: 10px;font-size: 12px;}
.client-testimonials ul li {display: inline-block; padding: 5px; }
.client-testimonials .owl-carousel .owl-item .social-icon a img {max-width: 17px; }
.client-des p{margin-bottom: 7px;}
.client-testimonials .bookmark-icon a {height: 25px; width: 25px; padding: 6px 0px 0px 7px; }
.client-testimonials .owl-nav .owl-prev {height: 20px; width: 20px; top: 17.5%; }
.client-testimonials .owl-nav .owl-next {height: 20px; width: 20px; top: 17.5%; }
.client-testimonials.same .owl-nav .owl-prev {top: 12.5%; }
.client-testimonials.same .owl-nav .owl-next { top: 12.5%; }
.client-testimonials.mid-arrow .owl-nav .owl-prev { top: 44.5%; }
.client-testimonials.mid-arrow .owl-nav .owl-next { top: 44.5%; }
.mid-arrow .client-des{padding:10px;}
.client-des {padding: 13px 10px 0px 10px; }
.testimonail-profile .client-des .poll-heading {color: #fff; text-transform: uppercase; font-size: 18px; border-bottom: 1px solid #ddd; padding-bottom: 10px; margin: 0; }
.testimonail-profile .client-des .poll-heading {color: #fff; text-transform: uppercase; font-size: 18px; border-bottom: 1px solid #ddd; padding-bottom: 15px; margin: 0; }
.testimonail-profile .client-des h3:nth-child(2) {font-size: 16px; margin: 16px 0px 0px 0px; }
.testimonail-profile .client-des h3 {font-size: 14px; margin: 14px 0px; }
.testimonail-profile .client-des button{margin:0px;font-size: 14px;}
.right-section ul li {position: relative; padding: 10px 90px 10px 5px; }
.right-section ul li p a {color: #666; font-size: 12px; }
.right-section ul li figure {position: absolute; top: 10px; right: 6px; }
.testimonail-profile .client-des h4 {color: #00d7fe; font-size: 16px; }
.left-section button {width: 120px; height: 25px; font-size: 12px;}
.sidenav .navbar-nav li a{padding:7px 15px;font-size: 14px;}
.sidenav .navbar-nav li a img {max-width: 10px; margin-right: 5px; }
.client-des h5 {font-size: 12px; margin: 0px 0px 5px 0px; } 
footer .menu-btn li a {font-size: 12px; } 
footer p {margin: 0px 0px 10px 0px; font-size: 12px;}
.sidenav .navbar-nav li a {padding: 7px 15px; font-size: 12px; }
footer h2{font-size: 18px;}
footer .social-icon ul li a img {height: 12px; }
footer .social-icon ul a {height: 25px; width: 25px; line-height: 25px;}
.sidenav .btn-div a {display: inline-block; text-align: center; width: 70px; font-size: 12px; outline: none; border: 1px solid #666; height: 30px; line-height: 26px; color: #555; }

/*ARTICLE PAGE CSS*/
.Article .banner-section h1 {font-size: 20px; }
.Article .banner-section span {font-size: 12px; }
.related-post .item .posts {display: inline-block; max-width: 100%; }
.Article .related-post .owl-nav .owl-prev, .Article .related-post .owl-nav .owl-next {top: 37%; }
.meddle-section .Article-social .like-icon a img {max-width: 14px; }
.meddle-section .Article-social .like-icon a {margin-right: 5px; width: 25px; height: 25px; line-height: 25px; }
.Article-social ul li a img {margin: 0px; max-width: 10px; }
.Article-social ul li a {width: 25px; height: 25px; line-height: 25px;}
.Article-social .bookmark-icon a {width: 25px; height: 25px; line-height: 25px;} 
.bookmark-icon img {max-width: 8px; }
.meddle-section .Article-social span {display: none;}
.meddle-section .Article-social .bookmark-icon{width: 20%;}
.meddle-section .Article-social .like-icon {display: inline-block; width: 20%; }
.meddle-section .Article-social ul{width: 60%;}
.Article .client-des {padding: 10px 0px 0px 0px; }
.Article .client-testimonials.poll h3{font-size: 14px;}
.Article .client-testimonials.poll h3 span{display: block;}
.testimonail-profile .client-des h3:nth-child(2) {font-size: 14px; margin: 16px 0px 0px 0px; }
.testimonail-profile .client-des button {margin: 0px; font-size: 13px; }
.progress-box span {font-size: 14px; display: inline-block; width: 10%; vertical-align: top; }
.table-box table, th, td {font-size: 12px; }
/*LOGI SIGNUP PAGE CSS */
.w-background .login-form{margin-top:30px;}
.w-background .logo figure img {width: auto;}
.w-background .logo h4{font-size: 12px;}
.w-background form p {text-align: center; font-size: 12px; }
.w-background form label{font-size: 12px;}
.w-background form .form-control{height: 28px;}
.w-background span{font-size: 12px;}
.w-background .social-btn a {max-width: 200px;}
.w-background::before {position: absolute; content: " "; left: 0; border: 1px solid #ddd; right: 0; margin: auto; height:1px; bottom: 0px; width: 80%; }
.login-page-menu {padding: 15px 0px 15px 0px; }
.login-page-menu li {display: inline-block; padding: 0px 10px; text-align: left; width: 30%; margin-bottom: 5px; }
.login-page-menu li a{font-size: 12px;}
/*ALL TOPIC PAGE CSS */
.All-topic .banner-section h1 {font-size: 20px; color: #fff; font-family: 'open_sanssemibold'; margin: 0px 0px 5px 0px; }
.All-topic .banner-section p{font-size: 12px;}
.banner-section h1 img {position: relative; top: -3px; margin-right: 5px; max-width: 24px; }
.All-topic .col-sm-3 {width: 100%; display: block; }
.All-topic .btn-div a {display: block; width: 140px; margin: 0px auto 10px auto; font-size: 12px; height: 30px; line-height: 30px; }
.topic-box{margin-bottom: 15px;}
/*SEARCH RESULT PAGE CSS*/
.banner-section h1{font-size: 20px;}
.Search-result .search-heading h2{font-size: 13px;margin-bottom: 0px;}
.topic-box .social-icon ul li {display: inline-block; padding: 5px; }
.right-icon a{font-size: 12px;}
.right-icon a img {max-width: 4px; }
.profile-body figure {width: 95px; height: 95px; border-radius: 50%; overflow: hidden; border: 3px solid #fff; margin: -38px auto 0px auto; z-index: 999; position: relative; }
/*TECHNOLOGY PAGE CSS*/
.technology .banner-section h1{font-size: 20px;}
/*COMPANY-PROFILE PAGE CSS*/
.company-profile  .profile-body h4 {font-size: 20px; color: #333; font-family: 'open_sanssemibold'; margin: 10px 0px; }
.company-profile .profile-body ul li {display: inline-block; padding: 0px 4px; }
/*CONTACT PAGE CSS*/
.contact-content h2{margin-bottom: 5px;}
.category-name h1{font-size: 18px;}
.contact-form{padding: 15px 10px;}
.contact-form h3{margin-bottom: 13px;}
.contact-form .custom-btn {border-radius: 5px; padding: 6px 27px; max-width: 121px; font-size: 12px; }
.map iframe {height: 170px; width: 100%; border-radius: 6px; }
/*FAQ PAGE CSS*/
.faq-page {padding: 15px 0; }
.faq-blog{padding:15px 20px 0px;}
.faq-blog h4 {font-size: 14px; }
.faq-blog2 {min-height: 80px; }

/*ABOUT PAGE CSS*/
.About .category-name h1 {font-size: 18px; text-transform: uppercase; font-family: 'open_sanssemibold'; color: #593466; margin: 0px; text-align: center; }
.About .tab-content h3{font-size: 14px;}
}

/*setting-page 07-07-2018*/
input::-ms-clear {display: none;}
.setting-page{ padding-top: 45px; }
.setting-page .banner-section{ background-image: url("../images/setting-banner.jpg"); background-size: cover; background-repeat: no-repeat;background-position: center;}
.setting-page .banner-section .text-box{ padding: 0px; width: 100%; text-align: center; position: relative;}
.setting-page .banner-section h1{ font-size: 30px; margin: 0; padding: 50px 0;}
.setting-heading h2{position: relative; color: #593466;font-size: 15px; font-family: 'open_sansregular';text-transform: capitalize;margin: 0px auto 8px; border-bottom: 1px solid #ddd; padding-bottom: 7px;display: inline-block;}
.setting-left{ border: 1px solid #dddddd; padding: 20px;}
.setting-right{ border: 1px solid #dddddd; padding: 37px 130px 37px 50px;}
.setting-left ul{ padding: 0px; margin-bottom: 0px; list-style: none; } 
.setting-left ul li{ margin-bottom: 20px;}
.setting-left ul li a{ font-size: 16px; text-decoration: none; color:#333333;}  
.setting-left ul li.active a,.setting-left ul li a:hover{color:#800080;}
.setting-right h2{ font-size: 18px;color: #333; padding: 0px 0 15px; border-bottom: 1px solid rgba(223,223,223,.4);margin:0 0 30px;}
.setting-right figure{width: 100px;height: 100px; border-radius: 50%; vertical-align: middle; margin-right:20px;overflow: hidden;text-align: center; display: inline-block; border: 1px solid #c3c2c2;}
.setting-right figure img{ max-width: 100%; }
.profile-pic{ vertical-align: middle; display: block;}
.profile-submit{ width: 100px; text-align: center; margin-bottom: 45px;}
.profile-submit button{ width: 68px; height: 25px; font-size: 14px; color: #333;border-radius: 3px; line-height: 25px; background-color: #f1f1f2;margin: 20px auto 0;padding: 0; border: 1px solid #f1f1f2; display: block;}
.setting-input-section{ margin-bottom: 40px;}
.setting-label{ display: inline-block; vertical-align: top; width: 14%;}
.setting-label p{ font-size: 18px; color: #333; }
.setting-input-data{display: inline-block;vertical-align: middle; width: 39%;}
.setting-input-data p{ font-size: 18px; color: #333; margin-bottom: 0px;}
.setting-input-data a{ color: #2b6dad;  font-size: 16px; text-decoration: none;}
.setting-input-submit{display: inline-block;vertical-align: middle; width: 39%;}
.setting-input-submit input[type="text"],.setting-input-submit input[type="email"]{ box-shadow: none;border: 1px solid #ddd; background-color: #f1f1f2; border-radius: 3px; height: 25px; width: 225px; padding:3px 10px;vertical-align: middle;}
.setting-input-data input[type="password"]{box-shadow: none; border: 1px solid #ddd; background-color: #f1f1f2; border-radius: 3px; height: 25px; width: 225px; padding:3px 10px;vertical-align: middle; margin-bottom: 8px;}
.setting-input-submit input[type="submit"]{box-shadow: none; border: 1px solid #ddd; background-color: #f1f1f2; border-radius: 3px;height: 25px;width: 68px; padding: 3px 10px;margin: 0 0 0 -7px;vertical-align: middle; }
.setting-input-submit input{border: 1px solid #ddd; background-color: #f1f1f2; border-radius: 3px;height: 25px;width: 68px; padding: 3px 10px;margin: 0 0 0 -7px;vertical-align: middle;}
.change-password{ width: 60%; }
.change-password p{ margin-bottom: 20px;}
.change-password a{ margin-left: 20px; }
.change-password button{ margin-left:0px;}

.connected-account ul{ padding: 0px; margin-bottom: 0px; list-style: none; }
.connected-account ul li{ vertical-align: middle; margin-bottom: 40px;}
.connected-account ul li a.connect-account{ font-size: 18px; color: #333333; padding-left: 45px; text-decoration: none; vertical-align: middle; margin-right: 55px; position: relative;width: 120px;display: inline-block;}
.connected-account ul li a.connect-account:after{ content: ''; width: 22px; height: 22px; position: absolute; left: 0; top: 0; bottom: 0; margin: auto;}
.google:after{background-image: url("../images/google.png");}
.fb:after{background-image: url("../images/fb.png");}
.tw:after{background-image: url("../images/tw.png");}
.linkdin:after{background-image: url("../images/li.png");}
a.connect-mail{ color: #333; font-size: 18px; text-decoration: none; display: inline-block; margin-right: 20px;vertical-align:top;}
a.disconnect{color:#999999;font-size: 18px; text-decoration: none;vertical-align: top;}
a.connect-mail-link{color: #2b6dad;font-size: 18px;text-decoration: none;vertical-align: top;}
.password-submit{ margin-bottom: 20px; }


@media (min-width: 992px) and (max-width: 1199px){
.setting-left ul li {margin-bottom: 15px;}
.setting-left ul li a {font-size: 15px;}
.setting-input-submit input[type="text"], .setting-input-submit input[type="email"] {width: 180px;}
.setting-label p {font-size: 17px;}
.setting-input-data p {font-size: 16px;}
.setting-input-data a {font-size: 14px;}
.setting-label { width: 15%;}
.setting-input-data {width: 43%;}
.setting-input-submit {  width: 40%;}
.change-password{ width: 65%; }
}

@media (min-width: 768px) and (max-width: 991px){
.setting-left ul li {margin-bottom: 15px;}
.setting-left ul li a {font-size: 12px;}
.setting-input-submit input[type="text"], .setting-input-submit input[type="email"] {width: 125px;}
.setting-input-submit input[type="submit"] {width: 58px;padding: 2px 3px;}
.setting-label p {font-size: 13px;}
.setting-input-data p {font-size: 13px;}
.setting-input-data a {font-size: 12px;}
.change-password a {margin-left: 5px;}
.setting-label { width: 11%;}
.setting-input-data {width: 49%;}
.setting-input-submit {  width: 38%;}
.change-password{ width: 83%; }

.setting-left { padding: 10px;}
.setting-label.password-label{ width: 16%;}
.connected-account ul li a.connect-account {font-size: 14px; margin-right: 10px;}
.setting-right {padding: 37px 75px 37px 50px;}
a.connect-mail {font-size: 14px;margin-right: 15px;}
a.disconnect { font-size: 14px;}
a.connect-mail-link{font-size: 14px;}
.setting-input-section {margin-bottom: 20px;}
}

@media (max-width: 768px){

.setting-left {padding: 15px; margin-bottom: 10px;}
.setting-left ul li {margin-bottom: 10px;}
.setting-right {padding: 15px;}
.setting-right h2 {margin: 0 0 10px;}
.profile-submit {    margin-bottom: 15px}
.setting-input-section {  margin-bottom: 10px;}
.setting-label {width: 20%;}
.setting-input-data { width: 78%; margin-bottom: 10px;}
.setting-input-submit{ width: 100%; }
.setting-input-submit input[type="text"], .setting-input-submit input[type="email"] {width: 185px;}
.setting-label p {font-size: 13px;}
.setting-input-data p {font-size: 13px;}
.setting-input-data a {font-size: 12px;}
.setting-label.password-label{ width: 100%; }
.change-password {width: 100%;}
.change-password a {margin-left: 0px; margin-bottom: 10px; display: block;}
.connected-account ul li { margin-bottom: 10px;}
.connected-account ul li a.connect-account {font-size: 14px; padding-left: 30px;margin-right: 0px; position:relative;width:auto;margin-bottom: 10px;}
a.connect-mail {font-size: 14px;margin-right: 0; margin-bottom: 10px;}
a.disconnect {font-size: 14px;}
a.connect-mail-link {font-size: 14px;}
.setting-input-data input[type="password"] {width: 100%;}
.setting-input-submit input[type="text"], .setting-input-submit input[type="email"]{ width: 100%; }
.setting-input-submit input[type="submit"] { margin: 10px 0 0 0px;}
}



/*changes*/


.banner-text{ position: absolute;bottom: 0; right: 0;   left: 0; background-color: rgba(0,0,0,.7); }
.banner-text p {color: #fff;font-size: 14px;text-align: center;margin-bottom: 0;padding: 5px;}
.left-section ul li a {font-size: 13px;}
.left-section {padding: 0 2px 0;}
.btn-bar {vertical-align: middle;  padding: 7px 0;}

@media(max-width: 767px){
.left-section{display: none;}
}